<div class="about-page">
	<div class="introduction text-center">
		<h2>Thank you very much for your visiting!</h2>
		<p>This web application is a rich web assignment. It provides courses about data structures to learn and forums that make the users cooperate with each other.</p>
	</div>

	<div class="ribbon featurework">
	            <h3>Learn</h3>
	            <span class="ribbon-left"></span>
	            <span class="ribbon-right"></span>
	</div>
	<div class="introduction">
		<p>Learn is to learn the courses about data structures with sample code and animations</p>
	</div>
	<div class="row-fluid">
		<div class="span4"><%= image_tag("learn1.png",:alt => "Course overview page") %></div>
		<div class="span1"><%= image_tag("arrow.jpg") %></div>
		<div class="span7"><%= image_tag("learn2.png",:alt => "Learn course page") %></div>
	</div>

	<div class="ribbon featurework">
	            <h3>Forums</h3>
	            <span class="ribbon-left"></span>
	            <span class="ribbon-right"></span>
	</div>
	<div class="introduction">
		<p>Forums contain questions about each courses created by users.</p>
	</div>
	
	<div class="introduction text-center">
	<h4>If you have any questions and suggestions , please no doubt to <a class="contact" href="mailto:d09124234@mydit.ie">contact</a> me.</h4>
	</div>


</div>
