<!--About page to introduce more about the web application-->
<div class="about-page">
	<div class="introduction text-center">
		<h2>Thank you very much for your visiting!</h2>
		<p>This web application is a rich web assignment. It provides courses about data structures to learn and forums that make the users cooperate with each other.</p>
	</div>

	<div class="ribbon featurework">
	            <h3>Learning</h3>
	            <span class="ribbon-left"></span>
	            <span class="ribbon-right"></span>
	</div>
	<div class="introduction">
		<p>Learning is to learn the courses about data structures with sample code and animations</p>
		
		<li><p>Choose one course from the course list to learn.</p></li>
		<li><p>Read the different sections of the course.</p></li>
		<li><p>Play with the animation to have more idea about the course.</p></li>
		<li><p>Add or update the notes if necessary.</p></li>
		<li><p>Ask and answer questions for the courses in the forums with the link of the Q&A forum button.</p></li>
	</div>

	<div class="ribbon featurework">
	            <h3>Forums</h3>
	            <span class="ribbon-left"></span>
	            <span class="ribbon-right"></span>
	</div>
	<div class="introduction">
		<p>The Forums can make the users coorperate with each other.</p>
		
		<li><p>The forums contain questions for each relevant courses.</p></li>
		<li><p>The user can ask questions as well as answer the available questions.</p></li>
		<li><p>The user can vote up each question and answer, but each user can only vote up the question or answer once.</p></li>
		<li><p>The author of the questions or answers can edit his works.</p></li>
		<li><p>The user can find all of the questions or answers in "My Questions" or "My Answers".</p></li>

	</div>
	
	<div class="introduction text-center">
	<h4>If you have any questions and suggestions , please no doubt to <a class="contact" href="mailto:d09124234@mydit.ie">contact</a> me.</h4>
	</div>


</div>
