<!--The design of the main page is based on 
The styles are based on http://twitter.github.com/bootstrap/examples/hero.html
-->

<div class="mobile_intro visible-phone">
  <h5>Welcome</h5>
</div><!--End introduction-->

<div class="introduction hidden-phone">
    <h2>Welcome</h2>
</div><!--End introduction-->

