<div class="courselist" id="data-structures">
    <legend><h2>Data Structures</h2></legend>
        
    <ul class="courses">
          <!-- course stack -->  
          <li class="course">
              <a href="/courses/stack">
                <h3 class="title"> 
                  Stack                 
                </h3>
                <div class="description">
                  <p>
                    <% @courses.each do |course|%>
                      <%= course.description if course.name == "stack"%>
                    <%end%>
                  </p>
                </div>
              </a>
          </li> <!--end course stack-->

          <!-- course queue -->  
          <li class="course">
              <a href="/courses/queue">
                <h3 class="title">
                  Queue
                </h3>
                <div class="description">
                  <p>
                    <% @courses.each do |course|%>
                      <%= course.description if course.name == "queue"%>
                    <%end%>
                  </p>
                </div>
              </a>
          </li><!--end course queue-->
         
          <!--course tree-->
          <li class="course">
              <a href="/courses/tree">
                <h3 class="title">
                  Tree                  
                </h3>
                <div class="description">
                  <p>
                    <% @courses.each do |course|%>
                      <%= course[:description] if course[:name] == "tree"%>
                    <%end%>
                  </p>
                </div>
              </a>
          </li>

          <!--course binary search tree-->
          <li class="course">
              <a href="/courses/bst">
                <h3 class="title">
                  Binary Search Tree                  
                </h3>
                <div class="description">
                  <p>
                    <% @courses.each do |course|%>
                      <%= course.description if course.name == "bst"%>
                    <%end%>
                  </p>
                </div>
              </a>
          </li>
          
        </ul>

      </div>  <!--end data structure-->
</div>
